
@{
    ViewBag.Title = "Peliculas";
}

<h2 class="text-center">Trailer Peliculas</h2>


<h4 class="">Accion</h4>

<div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Code 8 </h4>
        </div>
        <iframe class="bd-placeholder-img card-img-top" width="100" height="225" src="https://www.youtube.com/embed/PrX1JJ5dduA"></iframe>
        <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">2:11 mins</small>
            </div>
        </div>
    </div>


    <div class="card mb-4 shadow-sm">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Traumal center</h4>
        </div>
        <iframe class="bd-placeholder-img card-img-top" width="100" height="225" src="https://www.youtube.com/embed/Y2DrOhVpPZo" preserveAspectRatio="xMidYMid slice"></iframe>
        <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">

                <small class="text-muted">2:22 mins</small>
            </div>
        </div>
    </div>

    <div class="card mb-4 shadow-sm">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">James Bond</h4>
        </div>
        <iframe class="bd-placeholder-img card-img-top" width="100" height="225" src="https://www.youtube.com/embed/a5SxyQ-9YDA"></iframe>
        <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">

                <small class="text-muted">3:15 mins</small>
            </div>
        </div>
    </div>
</div>

<div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Spencer confidential</h4>
        </div>
        <iframe class="bd-placeholder-img card-img-top" width="100" height="225" src="https://www.youtube.com/embed/hOfaKQ3INCU"></iframe>
        <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">3:07 mins</small>
            </div>
        </div>
    </div>

    <div class="card mb-4 shadow-sm">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Guns Akimbo</h4>
        </div>
        <iframe class="bd-placeholder-img card-img-top" width="100" height="225" src="https://www.youtube.com/embed/JggpSpqxS6I" preserveAspectRatio="xMidYMid slice"></iframe>
        <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">

                <small class="text-muted">2:18 mins</small>
            </div>
        </div>
    </div>
</div>

<h4 class="">Drama</h4>

<div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal"> La jugada maestra </h4>
        </div>
        <iframe class="bd-placeholder-img card-img-top" width="100" height="225" src="https://www.youtube.com/embed/Q7W69ZszuSM"></iframe>
        <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">2:29 mins</small>
            </div>
        </div>
    </div>

    <div class="card mb-4 shadow-sm">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Parasitos</h4>
        </div>
        <iframe class="bd-placeholder-img card-img-top" width="100" height="225" src="https://www.youtube.com/embed/Z7SiFLgoFQM" preserveAspectRatio="xMidYMid slice"></iframe>
        <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">

                <small class="text-muted">2:05 mins</small>
            </div>
        </div>
    </div>

    <div class="card mb-4 shadow-sm">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Siete almas</h4>
        </div>
        <iframe class="bd-placeholder-img card-img-top" width="100" height="225" src="https://www.youtube.com/embed/obnoZXzOzv8"></iframe>
        <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">

                <small class="text-muted">1:21 mins</small>
            </div>
        </div>
    </div>
</div>

<div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Sueño de fuga</h4>
        </div>
        <iframe class="bd-placeholder-img card-img-top" width="100" height="225" src="https://www.youtube.com/embed/SjQof0Ek-Kk"></iframe>
        <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">2:31 mins</small>
            </div>
        </div>
    </div>

    <div class="card mb-4 shadow-sm">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Creed 2</h4>
        </div>
        <iframe class="bd-placeholder-img card-img-top" width="100" height="225" src="https://www.youtube.com/embed/QmMqMR2bbGg" preserveAspectRatio="xMidYMid slice"></iframe>
        <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">

                <small class="text-muted">2:47 mins</small>
            </div>
        </div>
    </div>
</div>


<h4 class="">Infantiles</h4>

<div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">El Rey León</h4>
        </div>
        <iframe class="bd-placeholder-img card-img-top" width="100" height="225" src="https://www.youtube.com/embed/mb79ctR-E-c"></iframe>
        <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">1:40 mins</small>
            </div>
        </div>
    </div>

    <div class="card mb-4 shadow-sm">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Buscando a Dory</h4>
        </div>
        <iframe class="bd-placeholder-img card-img-top" width="100" height="225" src="https://www.youtube.com/embed/rKaSCUHJnqc" preserveAspectRatio="xMidYMid slice"></iframe>
        <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">

                <small class="text-muted">2:30 mins</small>
            </div>
        </div>
    </div>

    <div class="card mb-4 shadow-sm">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Wall-e</h4>
        </div>
        <iframe class="bd-placeholder-img card-img-top" width="100" height="225" src="https://www.youtube.com/embed/8-_9n5DtKOc"></iframe>
        <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">

                <small class="text-muted">2:30 mins</small>
            </div>
        </div>
    </div>
</div>

<div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Intensa-mente</h4>
        </div>
        <iframe class="bd-placeholder-img card-img-top" width="100" height="225" src="https://www.youtube.com/embed/_DTnvFdFW14"></iframe>
        <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">2:26 mins</small>
            </div>
        </div>
    </div>

    <div class="card mb-4 shadow-sm">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Los Increibles 2</h4>
        </div>
        <iframe class="bd-placeholder-img card-img-top" width="100" height="225" src="https://www.youtube.com/embed/6RBr1v9_umA" preserveAspectRatio="xMidYMid slice"></iframe>
        <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">

                <small class="text-muted">2:36 mins</small>
            </div>
        </div>
    </div>
</div>
<h4 class="">Documentales</h4>

<div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">La tierra es plana</h4>
        </div>
        <iframe class="bd-placeholder-img card-img-top" width="100" height="225" src="https://www.youtube.com/embed/bJRUnQ0VnvQ"></iframe>
        <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">1:02 mins</small>
            </div>
        </div>
    </div>

    <div class="card mb-4 shadow-sm">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Shirkers: La película robada </h4>
        </div>
        <iframe class="bd-placeholder-img card-img-top" width="100" height="225" src="https://www.youtube.com/embed/u3wPWCj2L6I" preserveAspectRatio="xMidYMid slice"></iframe>
        <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">

                <small class="text-muted">2:39 mins</small>
            </div>
        </div>
    </div>

    <div class="card mb-4 shadow-sm">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Desenterrando Sad Hill</h4>
        </div>
        <iframe class="bd-placeholder-img card-img-top" width="100" height="225" src="https://www.youtube.com/embed/OUU7auBwyI0"></iframe>
        <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">

                <small class="text-muted">2:58 mins</small>
            </div>
        </div>
    </div>
</div>

<div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Icaro</h4>
        </div>
        <iframe class="bd-placeholder-img card-img-top" width="100" height="225" src="https://www.youtube.com/embed/mebUBNTEBfM"></iframe>
        <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">2:00 mins</small>
            </div>
        </div>
    </div>

    <div class="card mb-4 shadow-sm">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Holy Hell</h4>
        </div>
        <iframe class="bd-placeholder-img card-img-top" width="100" height="225" src="https://www.youtube.com/embed/c3K5HaWPwuY" preserveAspectRatio="xMidYMid slice"></iframe>
        <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">

                <small class="text-muted">2:22 mins</small>
            </div>
        </div>
    </div>
</div>

