
@{
    ViewBag.Title = "Index";
}

<h2 class="text-center">Acerca de </h2>

<div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Edwal Felix Tejada Rodriguez</h4>
        </div>
        <div class="card-body">
            <img class="bd-placeholder-img rounded-circle mb-4" width="140" height="140" src="~/Fotos/Eduar.jpeg"/>
        </div>
    </div>
    <div class="card mb-4 shadow-sm">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Rafael Antonio Espinal Diaz</h4>
        </div>
        <div class="card-body">
            <img class="bd-placeholder-img rounded-circle mb-4" width="140" height="140" src="~/Fotos/Rafael.jpeg" />
        </div>
    </div>
</div>

